buildout.cfg
.ropeproject
DATA
bin
*.pyc
.options.json
.coverage
.installed.cfg
.mr.developer.cfg
PYSMELLTAGS
PYSMELLTAGS.stdlib
develop-eggs
parts
var
/picked-versions.cfg
eggs
etc
moai.log
coverage
report
.vagrant
