zc.buildout==2.12.2
# setuptools >= 38.2.0 support installing wheels,
#                      but zc.buildout 2.9.5 doesn't handle that behaviour
setuptools
pip
matplotlib==2.0.0
networkx==2.2
scikit-image==0.14.2
scipy==1.10.0