[buildout]

find_links +=
  https://github.com/collective/collective.jsonify/archive/078b287c5dbb4870e5280ff1d44322184992fdf9.tar.gz#egg=collective.jsonify-0.3.dev0

auto-checkout +=
#    mockup
#    Products.TinyMCE
#    plone.app.toolbar
#    plone.app.widgets

[sources]
#Products.TinyMCE = git ${remotes:plone}/Products.TinyMCE.git branch=toolbar-changes
#mockup = git ${remotes:plone}/mockup.git pushurl=${remotes:plone_push}/mockup.git
#plone.app.widgets = git ${remotes:plone}/plone.app.widgets.git pushurl=${remotes:plone_push}/plone.app.widgets.git
#plone.app.toolbar = git ${remotes:plone}/plone.app.toolbar.git pushurl=${remotes:plone_push}/plone.app.toolbar.git

[instance-settings]
eggs +=
    plone.app.widgets[archetypes,dexterity]
    plone.app.toolbar
    plone.app.workflowmanager
    plone.app.openid
    eea.facetednavigation
#    collective.jsonify # has a nice jsonify query and list view for content

[versions]
plone.app.vocabularies = 2.1.14
