[remotes]
# (Repository locations)
########################

# Collective
collective = git://github.com/collective
collective_push = git@github.com:collective

# Plone
plone = git://github.com/plone
plone_push = git@github.com:plone

# BCCVL
bccvl = git://github.com/BCCVL
bccvl_push = git@github.com:BCCVL

# Subsoft
subsoft = http://subsoft.rcs.griffith.edu.au/git
subsoft_push = gitolite@subsoft.rcs.griffith.edu.au

# eresearch github
ersgh = git://github.com/gu-eresearch
ersgh_push = git@github.com:gu-eresearch

# rdflib
rdflib = git://github.com/RDFLib
rdflib_push = git@github.com:RDFLib


[sources]
org.bccvl.site = git ${remotes:bccvl}/org.bccvl.site.git pushurl=${remotes:bccvl_push}/org.bccvl.site.git branch=develop
org.bccvl.theme = git ${remotes:bccvl}/org.bccvl.theme.git pushurl=${remotes:bccvl_push}/org.bccvl.theme.git branch=develop
org.bccvl.testsetup = git ${remotes:bccvl}/org.bccvl.testsetup.git pushurl=${remotes:bccvl_push}/org.bccvl.testsetup.git branch=develop
org.bccvl.compute = git ${remotes:bccvl}/org.bccvl.compute.git pushurl=${remotes:bccvl_push}/org.bccvl.compute.git branch=develop

gu.repository.content = git ${remotes:subsoft}/gu.repository.content.git pushurl=${remotes:subsoft_push}:gu.repository.content.git
gu.plone.rdf = git ${remotes:subsoft}/gu.plone.rdf.git pushurl=${remotes:subsoft_push}:gu.plone.rdf.git
plone.app.folderui = git ${remotes:subsoft}/plone.app.folderui pushurl=${remotes:subsoft_push}:plone.app.folderui branch=localdev
gu.z3cform.rdf = git ${remotes:subsoft}/gu.z3cform.rdf pushurl=${remotes:subsoft_push}:gu.z3cform.rdf
collective.js.uix.multiselect = git ${remotes:ersgh}/collective.js.uix.multiselect.git pushurl=${remotes:ersgh_push}/collective.js.uix.multiselect.git
ordf = hg https://bitbucket.org/gweis/ordf
