[buildout]

find-links +=
  https://github.com/gu-eresearch/collective.js.uix.multiselect/archive/${versions:collective.js.uix.multiselect}.tar.gz#egg=collective.js.uix.multiselect-${versions:collective.js.uix.multiselect}
  https://bitbucket.org/gweis/ordf/get/${versions:ordf}.tar.bz2#egg=ordf-${versions:ordf}
  https://github.com/gu-eresearch/gu.plone.rdf/archive/${versions:gu.plone.rdf}.tar.gz#egg=gu.plone.rdf-${versions:gu.plone.rdf}
  https://github.com/gu-eresearch/gu.z3cform.rdf/archive/${versions:gu.z3cform.rdf}.tar.gz#egg=gu.z3cform.rdf-${versions:gu.z3cform.rdf}
  https://github.com/gu-eresearch/plone.app.folderui/archive/${versions:plone.app.folderui}.tar.gz#egg=plone.app.folderui-${versions:plone.app.folderui}
  https://github.com/gu-eresearch/gu.repository.content/archive/${versions:gu.repository.content}.tar.gz#egg=gu.repository.content-${versions:gu.repository.content}
  https://github.com/BCCVL/org.bccvl.site/archive/${versions:org.bccvl.site}.tar.gz#egg=org.bccvl.site-${versions:org.bccvl.site}
  https://github.com/BCCVL/org.bccvl.theme/archive/${versions:org.bccvl.theme}.tar.gz#egg=org.bccvl.theme-${versions:org.bccvl.theme}
  https://github.com/BCCVL/org.bccvl.compute/archive/${versions:org.bccvl.compute}.tar.gz#egg=org.bccvl.compute-${versions:org.bccvl.compute}
  https://github.com/BCCVL/org.bccvl.testsetup/archive/${versions:org.bccvl.testsetup}.tar.gz#egg=org.bccvl.testsetup-${versions:org.bccvl.testsetup}
  https://github.com/BCCVL/org.bccvl.tasks/archive/${versions:org.bccvl.tasks}.tar.gz#egg=org.bccvl.tasks-${versions:org.bccvl.tasks}
  https://github.com/gu-eresearch/gu.transmogrifier/archive/${versions:gu.transmogrifier}.tar.gz#egg=gu.transmogrifier-${versions:gu.transmogrifier}
  https://github.com/collective/quintagroup.transmogrifier/archive/5941671d5cb912a6814376e3bb27c0ae6ef3669b.tar.gz#egg=quintagroup.transmogrifier-0.5dev

[versions]
zc.buildout = 2.2.1
setuptools = 2.2
mr.developer = 1.26

# BCCVL Projects
org.bccvl.compute = 1.8.0-rc1
org.bccvl.site = 1.8.0-rc7
org.bccvl.testsetup = 1.8.0-rc1
org.bccvl.theme = 1.8.0-rc4
org.bccvl.tasks = 1.8.0-rc1

celery = 3.1.17
kombu = 3.0.24
billiard = 3.3.0.19
amqp = 1.4.6
anyjson = 0.3.3

# other packages maintained by us
collective.js.uix.multiselect = 2.0
ordf = 0.36-gu1
gu.plone.rdf = 2.5.1
gu.z3cform.rdf = 0.8.2
plone.app.folderui = 0.03-gurc5
gu.repository.content = 1.5.2
gu.transmogrifier = 0.5.0


# other packages
cssselect = 0.9.1
GDAL = 1.9.1
lxml = 3.3.5
rdflib = 4.1.2
rdflib-zodb = 1.0
# contenttypes 1.1b3 has unusable version constraints b4 sholud be fine again
plone.app.contenttypes = 1.1b2
zc.queue = 1.3
backports.ssl-match-hostname = 3.4.0.2
Products.AutoUserMakerPASPlugin = 1.1


# Bugfix overrides
# due to a bug in plone.session 3.5.1, 3.5.2 and 3.5.3 pin it
plone.session = 3.5
# fetch quintagroup.transmogrifier develop version so that we can use collective.transmogrifier > 1.4
quintagroup.transmogrifier = 0.5dev
collective.transmogrifier = 1.5
dexterity.membrane = 0.4
plone.app.transmogrifier = 1.3

# plone updates
plone.subrequest = 1.6.8
plone.app.widgets = 1.7.1
plone.app.jquery = 1.8.3


# update pending in next plone release
plone.app.event = 1.2.7
plone.api = 1.3.2
